@charset "utf-8";
/* CSS Document */

/* dou_and_syoku */

body {
    background-color: aqua;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 24px;
}

em.syoku {
    font-size: 200%;
}

em.genre {
    font-size: 200%;
}
